
<mat-card class="TopicItem">
    <mat-card-header>
        <mat-card-title class="TopicTitle"> {{topic.clientId}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list *ngIf="topic.POWER1 && topic.availability==='online'" cols="2" rowHeight="30px">
            <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
                <mat-checkbox [checked]="topic.POWER1==='ON'" (click)="power1Clicked()" class="example-margin">POWER1</mat-checkbox> 
            </mat-grid-tile>
            <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
                <mat-checkbox [checked]="topic.POWER2==='ON'" (click)="power2Clicked()" class="example-margin">POWER2</mat-checkbox> 
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list *ngIf="topic.POWER && topic.availability==='online'" cols="1" rowHeight="30px">
            <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
                <mat-checkbox [checked]="topic.POWER==='ON'" (click)="powerClicked()" class="example-margin">POWER</mat-checkbox> 
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list *ngIf="topic.state && topic.availability==='online'" cols="2" rowHeight="40px">
            <mat-grid-tile [style.border-right]="'1px dashed #ddd'" colspan="2">
                <mat-checkbox [checked]="topic.state==='ON'" (click)="stateClicked()" class="example-margin">STATE</mat-checkbox> 
            </mat-grid-tile>
            <br>
            <mat-slider min="0" max="255" step="1">
                <input matSliderThumb (input)="onInputChange($event)" 
                (change)="onLuminosityChange($event)" [(ngModel)]="topic.brightness" >
            </mat-slider>

                    <div class="row">
                      <div class="col-md-5">
                          <input [style.background]="topic.color_hex" 
                           [cpAlphaChannel]="'disabled'"
                           [cpPosition]="'top-right'"
                           [cpHeight]="'140px'"
                           [(colorPicker)]="topic.color_hex" [cpOutputFormat]="'hex'" 
                           (colorPickerOpen)="onEventColorPicker('colorPickerOpen', $event)"
                           (colorPickerClose)="onEventColorPicker('colorPickerClose', $event)" (cpInputChange)="onEventLog('cpInputChange', $event)"/>
                        </div>
                    </div>
        </mat-grid-list>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="showBottomSheet()">Details</button>
    </mat-card-actions>
</mat-card>