<!--
<mat-card class="card-container">
  <mat-card-title class="card-container-right"> Test message </mat-card-title>
  <mat-card-header>
    <mat-card-title class="topic-title" > {{topic.clientId}} </mat-card-title>
    <mat-card-subtitle > 2-Gang Schalter </mat-card-subtitle>
  </mat-card-header>
 <mat-card-content>
      <p>Schalter darstellen..</p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>  -->
<!--
  <mat-card class="TopicItem"> 
      <mat-card-header>
          <mat-card-title class="TopicTitle" > {{topic.clientId}} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-grid-list *ngIf="topic.POWER1" cols="2" rowHeight="95px">
              <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
                  <div class="container">
                      <h2>POWER1</h2>
                      <span>
                        <div class="switchbtn"></div>
                        <input type="checkbox" name="off_off_switch" class="switch_checkbox" [ngClass]="{'switchon': true}">				
                      </span>
                    </div>             
              </mat-grid-tile>
              <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
                  <div class="container">
                      <h2>POWER2</h2>
                      <span>
                        <div class="switchbtn"></div>
                        <input type="checkbox" name="off_off_switch"  class="switch_checkbox" 
                        [ngClass]="{'switchon': true}">				
                      </span>
                    </div>             
              </mat-grid-tile>
             </mat-grid-list>

      </mat-card-content>
      <mat-card-actions>
          <button mat-button>Details</button>
        </mat-card-actions>
       </mat-card> -->

<mat-card class="TopicItem">
    <mat-card-header>
        <mat-card-title class="TopicTitle"> {{topic.clientId}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list *ngIf="topic.POWER1" cols="2" rowHeight="95px">
            <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
                <mat-checkbox [checked]="topic.POWER1==='ON'" (click)="power1Clicked()" class="example-margin">POWER1</mat-checkbox> 
            </mat-grid-tile>
            <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
                <mat-checkbox [checked]="topic.POWER2==='ON'" (click)="power2Clicked()" class="example-margin">POWER2</mat-checkbox> 
            </mat-grid-tile>
        </mat-grid-list>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Details</button>
    </mat-card-actions>
</mat-card>